/* トップロゴのサイズ調整 */
#toplogo{
  width: 400px;
  /* opacity: 0.7; */
  margin: 10px;
}

/* nav調整 */
.nav {
  background-color:  rgb(188, 249, 249);
  display: flex;
  justify-content:space-around;
  align-items: center;
}
nav  a {
  padding: 0 30px;
  color: blue;
  font-size: 150%;
  
}







/* アクセスと周辺地図を横並び */
.address {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* お問い合わせを真ん中に */
.contact {
  text-align: center;
}

/* エラーの装飾 */
ul {
  color: red;
  list-style: none;
  background-color: rgb(241, 213, 213);
}

/* 送信完了の装飾 */
#submitcomplete {
  color: rgb(0, 26, 255);
  background-color: rgb(185, 244, 245);
}

/* Ikoma農園に下線部をいれる */
#border {
  padding: 10px;
  border-bottom: 1px solid #333;
}
/* コピーライトを調整 */
footer {
  text-align: center;
  background-color: #e3fcb3;
}

  /* レスポンシブデザイン　果物カレンダーと紹介を縦並びにする */
  @media screen and (max-width: 800px) {
    nav a {
      display: block;
      font-size: medium;
    }
}