/* トップロゴのサイズ調整 */
#toplogo{
  width: 400px;
  /* opacity: 0.7; */
  margin: 10px;
}

/* nav調整 */
.nav {
  background-color:  rgb(188, 249, 249);
  display: flex;
  justify-content:space-around;
  align-items: center;
}
nav  a {
  padding: 0 30px;
  color: blue;
  font-size: 150%;
  
}

/* cherry予約フォーム部分 */
.cherryharvest {
  text-align: center;
  background-color: rgb(251, 251, 251);
  /* border: 1px solid rgb(245, 175, 140); */
}
.calender {
  margin-left: auto;
  margin-right: auto;
}

/* 日程 */
th,td {
  border: 1px solid black;
}


/* 予約フォームのデザイン */
#harvestform {
  text-align: center;
}
.reset{
  color: rgb(247, 9, 9);
}


/* COMING SOONのデザイン */
.harvestfruitscoming {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(209, 209, 250);
  text-align: center;
  width: 500px;
  background-color: rgb(239, 239, 251);
  /* margin: 20px 500px; */
}





/* コピーライトを調整 */
footer {
  text-align: center;
  background-color: hsl(215, 76%, 82%);
}

table, td, th{
  border-collapse: collapse;
  border: 1px solid black;
}
.day {
  /* background-color: aqua; */
  padding: 10px 20px;
  width: 70px;
  height: 100px;
}

.day p {
  text-align: center;
  margin-top: 0;
}
.day label {
  font-size: small;
}

.day div {
  display: flex;
  align-items: center;
}
.day div input{
  margin-top: 0;
}

.widthx5 .day{
  width: 520px;
}

.header-row {
  display: flex;
  justify-content: space-around;
  padding: 0 30px
}

.header-row div{
  width: 100%;
  text-align: center;
  border: 1px solid black;
}

/* スケージュールに午前午後の装飾 */
.morning {
  background-color: rgb(213, 251, 251);
}
.afternoon {
  background-color: rgb(248, 225, 208);
}
/* スケージュールに午前。午後装飾　　終了 */

/* ご予約について確認事項　装飾 */
#checklist {
  
}

.booking {
  text-align: center;
  color: rgb(0, 26, 255);
  background-color: rgb(185, 244, 245);
}

.errors {
  text-align: center;
  color: red;
  list-style: none;
  background-color: rgb(241, 213, 213);
}
  /* レスポンシブデザイン　果物カレンダーと紹介を縦並びにする */
  @media screen and (max-width: 800px) {
      nav a {
        display: block;
        font-size: medium;
      }
  }