
/* トップロゴのサイズ調整 */
#toplogo{
  width: 400px;
  /* opacity: 0.7; */
  margin: 10px;
}

/* nav調整 */
.nav {
  background-color: rgb(188, 249, 249);
  display: flex;
  justify-content:space-around;
  align-items: center;
}
nav  a {
  padding: 0 30px;
  color: rgb(39, 39, 247);
  font-size: 150%;
  
}
/*  */
.firstsentens {
  text-align: center;
}
/* caution */
#caution {
  text-decoration: underline double rgb(243, 183, 183);
}

/* Ikoma農園で楽しむ果物狩りの写真調整 */
.fruits1 {
  width: 100px;
  height: 100px;
}
/* ヘッダー下の手書き絵を横並び */
.fruits-harvest {
  display: flex;
  justify-content: space-evenly;
}

/* 果物狩りのそれぞれを囲む&均等幅にする */
.fruits-harvestchild {
  border: double 4px #f7d58c;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: 0 15px;
  flex: 1;
}

/* 果物たち　親要素で横並び  カレンダーと果物が横並び中央に*/
.parentfruits {
  display: flex;
  justify-content: space-evenly;
}
/* 果物のアピールをアイコンと横並び */
.icondescription {
  display: flex;
  align-items: center;
  border-bottom: inset rgb(113, 242, 225);
}


/*  */
.iconpic {
  margin:0 20px 0 0;
}

/* 頭部分文字の装飾 */
.hedsentence {
  text-align: center;
  position: relative;
  padding: 0.7rem 0;
  margin-bottom: 0.2rem;
  background-image: repeating-linear-gradient(20deg, transparent 0 3px, #a4f56e 3px 6px);
  background-repeat: no-repeat;
  background-size: 30% 50px;
  background-position: center;
  color: #353535;
  font-weight: bold;
  font-size: 26px;
}








/* footer部分 */

footer {
  background-color: rgb(131, 157, 253);
  color: rgb(2, 96, 26);
  text-align: center
}


/* footerロゴのサイズ調整 などfooter部分 */
#footerlogo {
  margin: 5px 0px 0px;
  width: 300px;
  opacity: 0.7;
}
/* footer部分の住所等の調整 */
.footerbox {
  display: flex;
  justify-content: space-evenly;
}
/* コピーライト部分の調整 */
#endc {
  color: rgb(17, 0, 249);
}


  /* レスポンシブデザイン　果物カレンダーと紹介を縦並びにする */
@media screen and (max-width: 800px) {
  .parentfruits {
    display: block;
    }
    nav a {
      display: block;
      font-size: medium;
    }
}
