/* トップロゴのサイズ調整 */
#toplogo{
  width: 400px;
  /* opacity: 0.7; */
  margin: 10px;
}

/* nav調整 */
.nav {
  background-color: rgb(168, 236, 236);
  display: flex;
  justify-content:space-around;
  align-items: center;
}
nav  a {
  padding: 0 30px;
  color: blue;
  font-size: 150%;
  
}

/* お知らせを真ん中に */
.news {
  text-align: center;
}



/* たけのこお知らせ削除線を引く */
#newsbamboo {
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: rgb(246, 39, 146);
}


/* コピーライトを調整 */
footer {
  text-align: center;
  background-color: #53c6f3;
}