/* トップロゴのサイズ調整 */
#toplogo{
  width: 400px;
  /* opacity: 0.7; */
  margin: 10px;
}

/* nav調整 */
.nav {
  background-color:  rgb(188, 249, 249);
  display: flex;
  justify-content:space-around;
  align-items: center;
}
nav  a {
  padding: 0 30px;
  color: blue;
  font-size: 150%;
  
}

/* お知らせを真ん中に */
.news {
  text-align: center;
}



/* たけのこお知らせ削除線を引く */
#newsbamboo {
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: rgb(246, 39, 146);
}

/* サクランボ狩りの予約開始部分に削除線を引く （2023年8月31日～）*/
#newscherry {
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: rgb(246, 39, 146);
}

/* コピーライトを調整 */
footer {
  text-align: center;
  background-color: #94defb;
}

  /* レスポンシブデザイン　果物カレンダーと紹介を縦並びにする */
  @media screen and (max-width: 800px) {
    nav a {
      display: block;
      font-size: medium;
    }
}